body {
    font-family: 'Lato', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: hsl(0, 0%, 100%);
    text-shadow: 0 0 2px #4e4e4e;
    transition: all 0.2s ease-in-out;
}

a:active {
    color: #1a1a1a;
    text-decoration: none;
    background-color: #e3e3e3;
}

.navbar {
    border-top: 1px solid #dee2e6;
  }